<% parsed.each do |x| %>
  <% if x["slug"] == @slug %>
  <h2 class="all_topics"> Here all the messages for the topic <%= x["topic"] %> </h2>
    <% x["messages"].each do |message| %>
    <section class="reply">
    <h3><%= message["message"] %></h3>
    posted by: <%= message["username"] %>
  </section>
</br>
    <% end %>
  <% end %>
<% end %>

