<html>
  <head>
    <meta charset="utf-8">

    <title>project_one_app</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
</br>
</br>
</br>
</br>
</br>
</br>
<h1 class="header"> <a href="/topics">WDI forum</a>
</br>
<div class="new_topic_link" > <a href="/topics/new"> post a new topic </a> </div>
 </h1>
  <body>
    <%= yield %>
  </body>
  <footer> MELON THEME COPYRIGHT ANDY 2014 </footer>
</html>
