<h2> post a new topic! </h2>
<form method="POST" action="/topics">
  <h3>Topic?</h3>
  <input type="text" name="topic"/>
    </br>
    </br>
  <h3>Message?</h3>
  <!-- how do I make the text message box bigger? -->
  <input type="text" name="message"/>
  </br>
  </br>
  <input type="hidden" name="username" value="default"/>
  <input type="submit">
</form>
