</br>
<section class="new_topic">
<h4> penny for your thoughts </h4>
<form method="POST" action="/topics">
  <h3 class="param">Topic?</h3>
  <input type="text" name="topic"/>
    </br>
    </br>
  <h3 class="param">Message?</h3>
  <!-- how do I make the text message box bigger? -->

  <input type="text" name="body"/>
  </br>
  </br>
  <h3 class="param">Your Name?</h3>
  <input type="text" name="username"/>
  </br>
  </br>
  <input type="submit">
  </br>
  </br>
  <a href ="/topics"> back to topics </a>
</form>
</section>
