<section class="new_topic">
<h2> post a new topic! </h2>
<form method="POST" action="/topics">
  <h3>Topic?</h3>
  <input type="text" name="topic"/>
    </br>
    </br>
  <h3>Message?</h3>
  <!-- how do I make the text message box bigger? -->
  <input type="text" name="body"/>
  </br>
  </br>
  <h3>Your Name?</h3>
  <input type="text" name="username"/>
  </br>
  </br>
  <input type="submit">
  </br>
  </br>
  <a href ="/topics"> back to topics </a>
</form>
</section>
