        <section class="new_topic">
        <form method="POST" action="/topics/<%= @slug %>/new_message">
        <input type="hidden" name="_method" value="POST" />
        <h3 class="param"> reply? </h3>
          <input type="text" name="new_message"/>
        </br>
        <h3 class="param"> your name? </h3>
          <input type="text" name="username"/>
          <input type="hidden" name="title" value ="<%= @topic%>"/>
        </br>
         </br>
          <input type ="submit"  name="add" value="add reply"/>
        </form>
          <a href="/topics/<%= @slug %>"> back to topic? </a>
      </section>
