<section class="order_button">
  <form method="get" action="/reorder">
    <input type="hidden" name ="order" value="true"/>
    <input type="submit" value="order by vote"/>
  </form>
</section>

<%if @slug == nil%>
    <h2 class="flash"> <%= flash.now[:notice] %> </h2>
    <% parsed.reverse.each do |x| %>
      <%= render(:erb, :"./topics/_all_topics", :locals => {:x => x}) %>
    <% end %>
<% else %>
    <h2 class="flash"> <%= flash.now[:reply] %> </h2>
    <% parsed.each do |x| %>
      <%= render(:erb, :"./topics/_topic", :locals => {:x => x}) %>
    <% end %>
    </br>
    </br>
    <a href="/topics"> back to topics </a>
<% end %>
